body {
    color: #555;
}

.header {
    padding: 0 1em;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-weight: 300;
}
    .header h1 {
        color: #333;        
    }
    .header h2 {
        color: #bbb;
    }

footer {
    padding: 1em 0;
    border-top: 1px solid #eee;
    text-align: center;
    color: #333;
}

/* Mobile */
@media all and (max-width: 48em) {
    .header h1{
        font-size: 2em;
    }
    .content {
        width: auto;
    }
        .content > * {    
            margin-left : 1em;
            margin-right : 1em;
        }
        .content > pre, .content > pre code {
            margin-left: 0;
            margin-right: 0;
        }
        .content > h1, .content > h2, .content > h3 {
            margin-left: 0.67em;
            margin-right: 0.67em;
        }
}

/* Large */
@media all and (min-width: 48em) {
    .header h1{
        font-size: 3em;
    }
    .content {
        width: 70%;
    }
}

/* All */
.content {
    margin: 0 auto;
    margin-bottom: 3.5em;
    font-size: 1.05em;
    line-height: 1.7em;
}
    .content img {
        width: 100%;
        height: auto;
    }

    .content time {
        color: #aaa;
    }
    .content h1, .content h2, .content h3 {
        margin-top: 1.5em;
    }
    .content a {
        color: #3b8bba;
        text-decoration: none;
    }
        .content a:hover,
        .content a:focus {
            text-decoration: underline;
        }
        .content a:visited {
            color: #265778;
        }

p > code {
    word-wrap: break-word;
    color: black;
}

.prev-next-post {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
    .prev-next-post .prev {
        float: left;
        text-align: left;
        overflow: hidden;
    }
    .prev-next-post .next {
        float: right;
        text-align: right;
        overflow: hidden;
    }

.pagination {
    margin-top: 3em;
    text-align: center;
}
    .pagination a {
        color: #265778;
    }

li .date {
    font-size: 0.8em;
}
