<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "sidemenu.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">
  {{ range .Data.Pages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
  {{ range .Pages }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
  {{ end }}
</div>

<footer>
  {{ partial "footer.html" . }}
</footer>

<script src="{{ .Site.BaseURL }}js/ui.js"></script>

{{ partial "google_analytics.html" . }}

</body>
</html>
