{{/*
    {{ if .RSSLink }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ .RSSLink }}"><i class="fas fa-rss fa-fw"></i>RSS</a>
    </li>
    {{ end }}
*/}}

    {{ with .Site.Social.twitter }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://twitter.com/{{ . }}" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.linkedin }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://linkedin.com/in/{{ . }}" target="_blank"><i class="fab fa-linkedin-square fa-fw"></i>LinkedIn</a>
    </li>
    {{ end }}

    {{ with .Site.Social.github }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/{{ . }}" target="_blank"><i class="fab fa-github fa-fw"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Social.bitbucket }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://bitbucket.org/{{ . }}" target="_blank"><i class="fab fa-bitbucket-square fa-fw"></i>Bitbucket</a>
    </li>
    {{ end }}

    {{ with .Site.Social.stackoverflow }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://stackoverflow.com/users/{{ . }}" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i>Stack Overflow</a>
    </li>
    {{ end }}
